.scFont {
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
    Garuda, Verdana, Tahoma, sans-serif;
}

.scButton {
  color: #333;
  background-color: #fff;
  height: 24px;
  padding: 2px 11px 2px 10px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #fff;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  font-weight: 100;
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
    Garuda, Verdana, Tahoma, sans-serif;
}

.scButton:hover {
  color: #333;
  border-color: #ccc;
}

.scButton:disabled {
  color: #888;
}

.scButton.active {
  color: #f50;
}

.scButton.active:disabled {
  color: #f94;
}

.scFollowButton,
.scFollowButton.active,
.scFollowButton:hover,
.scButton.active:hover {
  color: #f50;
  border: 1px solid #f50;
}

.scFollowButton.active,
.scFollowButton.active:hover {
  background-color: #f50;
  color: white;
}
