.trackHeader {
  background: linear-gradient(
    135deg,
    rgb(230, 230, 230) 0%,
    rgb(134, 134, 134) 100%
  );
}

.trackArtwork {
  height: 300px;
  width: 300px;
  position: relative;
}

.trackTitle {
  display: inline;
  color: #fff;
  font-weight: 100;
  font-size: 24px;
  line-height: 37px;
  padding: 0px 5px;
  background-color: rgba(0, 0, 0, 0.8);
  box-decoration-break: clone;
}

.trackUploader {
  display: inline;
  color: #ccc;
  font-weight: 100;
  padding: 2px 7px;
  font-size: 16px;
  line-height: 1.2;
  background-color: rgba(0, 0, 0, 0.8);
}

.trackUploader a:active,
.trackUploader a:link,
.trackUploader a:visited {
  color: #ccc;
}

.trackUploader a:hover {
  color: #eee;
}

.scFont {
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
    Garuda, Verdana, Tahoma, sans-serif;
}

.audioControls {
  position: relative;
  bottom: 0px;
}

.container {
  max-width: 1240px;
}

.buttonsGroup {
  border: 1px solid #fff;
  box-shadow: 0 1px 0 0 #f2f2f2;
  padding: 4px 0;
  margin-bottom: 1px;
}

.scButton {
  color: #333;
  background-color: #fff;
  height: 24px;
  padding: 2px 11px 2px 10px;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  background-color: #fff;
  font-size: 14px;
  line-height: 20px;
  white-space: nowrap;
  font-weight: 100;
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
    Garuda, Verdana, Tahoma, sans-serif;
}

.scButton:hover {
  color: #333;
  border-color: #ccc;
}

.scButton:disabled {
  color: #888;
}

.scButton.active {
  color: #f50;
}

.scFollowButton,
.scFollowButton.active,
.scFollowButton:hover,
.scButton.active:hover {
  color: #f50;
  border: 1px solid #f50;
}

.scFollowButton.active,
.scFollowButton.active:hover {
  background-color: #f50;
  color: white;
}

.userBadge {
  width: 120px;
  padding: 4px;
}

.lightTextColor {
  font-weight: 100;
  color: #999;
}

.badgeAvatar {
  border-radius: 50%;
  width: 112px;
  height: 112px;
  position: relative;
}

.trackDescription {
  position: absolute;
  top: 0;
  padding-left: 150px;
}
