.thumbnail {
  border-width: 1;
  display: inline-block;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 20px;
}

.artwork {
  height: 100%;
  position: relative;
  padding-top: 100%;
}

.placeholder-art {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: linear-gradient(135deg, #70929c, #8e8485);
  background-size: contain;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  border-radius: inherit;
}

.opacity-transition {
  transition: opacity 0.2s linear;
}

.description {
  margin-top: 5px;
  text-align: right;
}

.link-light,
.link-dark {
  font: 12px/1.4 Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda,
    Verdana, Tahoma, sans-serif;
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
    Garuda, Verdana, Tahoma, sans-serif;
  font-weight: 100;
}

.truncated {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link-dark {
  font-size: 14px;
}

.link-light {
  font-size: 12px;
  word-break: normal;
}

a {
  text-decoration: none;
}

.link-dark a:link,
.link-dark a:active,
.link-dark a:visited {
  color: #333;
}

.link-dark a:hover {
  color: #000;
}

.link-light a:link,
.link-light a:active,
.link-light a:visited {
  color: #999;
}

.link-light a:hover {
  color: #333;
}
