.thumbnail {
    /*width: 200px;
    height: 245px;*/
    border-width: 0;
}

.category_title {
    color: slategrey;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    padding: 0;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.description {
    margin-top: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: right;
}

.track_title, .track_uploader { font-family: "Helvetica", "Arial", sans-serif; }


.truncated {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.track_title {
    color: #999;
    font-size: 14px;
}

.track_uploader {
    color: #AAA;
    font-size: 12px;
    word-break: normal;
}

.track_title a:link, .track_title a:active {
    color: #AAA;
}
.track_title a:hover, .track_title a:visited {
    color: #777;
}


.track_uploader a:link, .track_uploader a:active{
    color: #888;
}
.track_uploader a:hover, .track_uploader a:visited {
    color: #555;
}